@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

body {
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins' , sans-serif;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

img {
    max-width: 50%; /* Adjust the maximum width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space below inline images */
    margin: 0 auto; /* Center the image */
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
    
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

